<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="visualizarImpressao" value="0"/>

    <add key="lang" value="0"/>

    <add key="user" value=""/>
    <add key="userType" value="USU"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=Baser"/>
  </connectionStrings>
</configuration>